*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
}
#string{
    height: 200px;
    width: 100%;
    background-color: rgb(255, 94, 0);
}
